@using Dominio;
@model List<Subasta>

@if (ViewBag.Error != null) 
{
	<h4 class="alert-danger">@ViewBag.Error</h4>
}

@if(ViewBag.Mensaje != null)
{
	<h4 class="alert-success">@ViewBag.Mensaje</h4>
}


<h1>LISTADO DE TODAS LAS SUBASTAS</h1>
<section id="homeAdmSection" class="card shadow p-5 text-center">
	<table class="table table-stripped table-hover text-center" id="homeAdmTable">
	<thead>
		<tr>
			<th scope="col">NOMBRE</th>
			<th scope="col">TIPO</th>
			<th scope="col">FECHA DE PUBLICACIÓN</th>
			<th scope="col">ESTADO</th>
			<th scope="col">OFERTA MÁS ALTA</th>

			<th scope="col">CERRAR SUBASTA</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Subasta unaSubasta in Model)
		{
			<tr>
				<td>@unaSubasta.Nombre</td>
				<td>@unaSubasta.TipoPublicacion</td>
				<td>@unaSubasta.FechaPublicacion.ToString("yyyy-MM-dd")</td>
				<td>@unaSubasta.TipoPublicacion.ToUpper()</td>
				<td>@unaSubasta.ObtenerMejorOferta().Monto</td>
					@{
						if(unaSubasta.Estado == Publicacion.EstadoPublicacion.ABIERTA)
						{
							<td>
								<form asp-controller="Home" asp-action="CerrarSubasta" method="post">
									<input type="hidden" name="idSubasta" value="@unaSubasta.Id" />
									<button type="submit"><img src="~/Assets/deal.png" class='img-fluid rounded' style='width:30px;height:auto;' /></button>
								</form>
							</td>
						} else
						{
							<td>
							<p>Ya está cerrada</p>
							</td>
						}
					}
		
			</tr>
		}
	</tbody>
</table>
</section>
